@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(14px, calc(1vw + 1px), 16px);
  color: #1e1e1e;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.hero_header {
  font-size: clamp(1.125rem, calc(5vw), 4rem);
}

.hero_caption {
  font-size: clamp(0.75rem, calc(3vw), 1.5rem);
}

.contact_section_wrapper {
  background-image: url("../assets/Images/footer-bg-left.svg"),
    url("../assets/Images/footer-bg-right.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: auto 75%, auto 75%;
}

.contact-btn-svg {
  transition: 0.2s all ease-in-out;
}
.contact-btn:hover .contact-btn-svg {
  rotate: 45deg;
}
